.header{
    display: block;
    padding: 15px 20px;
    font-weight: 700;
    color: #fff;
    -webkit-box-shadow: 0 2px 2px #888888;
	  -moz-box-shadow: 0 2px 2px #888888;
	  box-shadow: 0 2px 2px #888888;
}