<form class="col-xs-12">
  <div class="form-group">
    <label for="County">County</label>
    <input type="text" class="form-control" id="County" [value]="countyData.County">
  </div>
  <div class="form-group">
    <label for="Population">Password</label>
    <input type="text" class="form-control" id="Population" [value]="countyData.Population">
  </div>
  <div class="form-group">
    <label for="Male">Male</label>
    <input type="text" class="form-control" id="Male" [value]="countyData.Male">
  </div>
  <div class="form-group">
    <label for="Female">Female</label>
    <input type="text" class="form-control" id="Female" [value]="countyData.Female">
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>
